* {
  font-family: "Iosevka Nerd Font", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

@import "../tint16/palettes/waybar.css";

window#waybar {
  background-color: transparent;
  color: @foreground;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @foreground;
}

#workspaces button {
  padding: 0 5px;
  background-color: @background;
  color: @foreground;
}
#workspaces button.hosting-monitor {
  background-color: @color8;
}

#workspaces button:hover {
  /*TODO*/
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: @color2;
  box-shadow: inset 0 -3px @foreground;
}

#workspaces button.urgent {
  background-color: @color3;
}

/*order matters for special  */
#workspaces button.special {
  color: @background;
  background-color: @color5;
}

#mode {
  background-color: @color8;
  box-shadow: inset 0 -3px @foreground;
}

#clock,
#battery,
#wireplumber,
#tray,
#mode,
#scratchpad {
  padding: 0 10px;
  color: @foreground;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: @color8;
}

#battery {
  background-color: @foreground;
  color: @background;
}

#battery.charging,
#battery.plugged {
  color: @foreground;
  background-color: @color14;
}

@keyframes blink {
  to {
    background-color: @foreground;
    color: @background;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: @color1;
  color: @foreground;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: @background;
}

#wireplumber {
  background-color: @background;
  color: @foreground;
}

#wireplumber.muted {
  color: @background;
  background-color: @color1;
}

#temperature {
  padding: 0 10px;
  color: @background;
  background-color: @foreground;
}

#temperature.critical {
  background-color: @color1;
}

#tray {
  background-color: @color12;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @color1;
}

#idle_inhibitor {
  /* Icons are not aligned requires special padding */
  padding: 0 13px 0 10px;
  color: @foreground;
  background-color: @color8;
}

#bluetooth {
  /* Icons are not aligned requires special padding */
  padding: 0 13px 0 10px;
  color: @foreground;
  background-color: @color8;
}

#network {
  /* Icons are not aligned requires special padding */
  padding: 0 15px 0 10px;
  color: @foreground;
  background-color: @background;
}

#bluetooth.off,
#idle_inhibitor.activated,
#network.disconnected {
  color: @background;
  background-color: @color1;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: @foreground;
}

#privacy-item.screenshare {
  background-color: @color1;
}

#privacy-item.audio-in {
  background-color: @color3;
}

#privacy-item.audio-out {
  background-color: @color3;
}
