* {
  font-family: "Iosevka Nerd Font", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

/*TODO: can I default if not present to not fail on loading?*/
@import "../tint16/palettes/waybar.css";

/*Bar settings*/
window#waybar {
  background-color: transparent;
}

tooltip {
  background: @background;
  border: 1px solid @foreground;
  color: @foreground;
}

/*Button settings*/
button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  box-shadow: inset 0 -3px @foreground;
}

/*Workspace button settings*/
/*order matters, last one is applied in case of conflict*/
/*e.g. hover only applies on special if after special*/
/*or needs to override all fields*/
#workspaces button {
  background-color: @background;
  color: @foreground;
}

#workspaces button.hosting-monitor {
  background-color: @color8;
}

#workspaces button.urgent {
  background-color: @color3;
}

#workspaces button.special {
  color: @background;
  background-color: @color5;
}

#workspaces button:hover {
  background: @color0;
  color: @foreground;
}

#workspaces button.active {
  box-shadow: inset 0 -3px @color3;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/*Submap settings*/
#submap {
  background-color: @color12;
  box-shadow: inset 0 -3px @foreground;
  padding: 0 10px;
}

/*Animations*/
@keyframes blink {
  to {
    background-color: @foreground;
    color: @background;
  }
}

/*Module settings*/
#clock,
#battery,
#wireplumber,
#temperature,
#privacy,
#tray {
  padding: 0 10px;
  color: @background;
}

#clock {
  background-color: @color8;
  color: @foreground;
}

#battery {
  background-color: @foreground;
  color: @background;
}

#battery.charging,
#battery.plugged {
  color: @foreground;
  background-color: @color12;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: @color1;
  color: @foreground;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#wireplumber {
  background-color: @background;
  color: @foreground;
}

#wireplumber.muted {
  color: @background;
  background-color: @color3;
}

#temperature {
  background-color: @foreground;
}

#temperature.critical {
  background-color: @color1;
}

#tray {
  background-color: @color12;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @color1;
}

#bluetooth,
#idle_inhibitor {
  /* Icons are not aligned requires special padding */
  padding: 0 13px 0 10px;
  color: @foreground;
  background-color: @color8;
}

#network {
  /* Icons are not aligned requires special padding */
  padding: 0 15px 0 10px;
  color: @foreground;
  background-color: @background;
}

#bluetooth.off,
#idle_inhibitor.activated,
#network.disconnected {
  color: @background;
  background-color: @color3;
}

#privacy-item {
  padding: 0 5px;
  color: @background;
}

#privacy-item.screenshare {
  background-color: @color5;
}

#privacy-item.audio-in {
  background-color: @color5;
}
